<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<style>
  .heroimg{
    width: inherit;
    height: inherit;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    
  }
  img{
    width: 150px;
    height: 150px;
  }
  .container-item{
    width: 200px;
    height: 300px;
  }
</style>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h3>
    <%= displayName.text %>
  </h3>
  <div class="jumbotron px-0 hero bg-white">
    <img class="heroimg" src = <%= photos.photoUri %>>
  </div>
  <div class = "w-75">
    <h3>News</h3>
    <p><%= news %></p>
  </div>

  <div>
    <h3>How much will it cost in your local currency</h3>
    <table>
      <tbody>
        <tr>
          <td>Amount</td>
          <td>From</td>
        </tr>
        <tr>
          <td>
            <input type="number">
          </td>
          <td>    
            <select>
              <% for (const key in currencies) { %>
                <option><%= key %>: <%= currencies[key] %></option>
              <% } %>
            </select>
          </td>
        </tr>


        <tr>
          <td>Amount</td>
          <td>To</td>
        </tr>
        <tr>
          <td>
            <input type="number">
          </td>
          <td>    
            <select>
              <% for (const key in currencies) { %>
                <option><%= key %>: <%= currencies[key] %></option>
              <% } %>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>